<!DOCTYPE html>
<html>
<head>
    <title>Customer Consents</title>

</head>

<body style="margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <div style="padding: 80px; text-align: justify">
        <h4>Customer Consents</h4>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">I / We declare as below:</p>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem; line-height: 20px;">
            (1)I /We have read and accept TMFSL’s Privacy Policy and the Fair
            Practice Code available at TMFSL's website.


            (2) all information furnished herein is true, correct, and complete and
            have submitted certified true copies where necessary and it shall form
            basis of TMFSL’s decision to sanction/reject;


            (3) any change in the information given will be intimated to TMFSL;


            (4) submission of this form does not by default imply sanction of loan,
            and it will be TMFSL’s sole discretion to decide the same as also
            quantum of loan. TMFSL will not be held liable for any loss/damage
            caused to me/us because of rejection;


            (5) I /We permit TMFSL to collect the Information from me /us or from
            credit information companies, information utilities, databases, to get
            the information verified, to share and disclose the Information to
            service providers, consultants, credit information companies,
            information utilities, other banks/financial institutions, affiliates,
            regulators and authorities or to any other person as required necessary,
            to store and use the information for credit appraisal, fraud detection,
            anti-money laundering obligations, for direct marketing, business
            strategies, for monitoring, for evaluating and for any other legitimate
            purpose;


            (6) TMFSL can send sms alerts and I /We consent to receive
            information/services etc. for my/our loan or marketing purposes through
            such alerts;


            (7) I/We am/are not directly or indirectly related to company directors
            as per terms of Companies Act 2013 and are not politically exposed
            persons as per KYC Guidelines of RBI;


            (8) Processing fees shall not be refunded to me /us even if the
            application is rejected or withdrawn;


            (9) I/We am/are aware that TMFSL has an interest rate policy accesible
            on its Website and Interest rate applicable to my/our loan facility
            shall be as prevailing on the date/s of disbursement/s and will be based
            upon the TMFSL's evaluation of my/our application. TMFSL reserves its
            right to revise the interest rate as per the policy;



            (10) I/We am/are aware that TMFSL is only acting as a facilitator with
            regards to Insurance.


            (11) I/We agree to the automated processing, automated profiling and
            automated decision making by or on behalf of TMFSL.

            (12) I/We hereby agree that the
            (i) Borrower'sEmailId is ##Borrower'smobilenumber (“Borrower's Mobile
            Number”) and Borrower's email id is ##Borrower's mobile number
            (“Borrower's Email Address”)(if any);
            (ii)Co-Borrower's mobile number is ##CoBorrower'smobilenumber
            (“Co-Borrower's Mobile Number”) and Co-Borrower's email id is
            ##Co-Borrower'semailid (“Co-Borrower's Email Address”)(if any);
            (Borrower's Mobile Number, Co-Borrower's Mobile Number, Borrower's Email
            Address, and Co-Borrower's Email Address shall collectively be referred
            to as, “Registered Contacts”) and that the Registered Contacts will be
            utilized by TMFSL for all communications with me/us including
            facilitating acceptance and signing of the ‘Documents’ (Loan Agreement
            and other allied documents) by way of a one-time password sent to the
            Registered Contacts and I/We hereby agree and undertake that I/We am/are
            fully responsible for the security of the Registered Contacts and any
            communication sent to the Registered Contacts or received by TMFSL from
            the Registered Contacts shall be deemed to be sent to or sent by me/us,
            and I/We shall be responsible for keeping the same confidential, as the
            case may be, and shall be fully binding on me/us and any such acceptance
            of any Documents using the OTP(s)/ other form factors, shall fully bind
            me/us and shall be treated as done by me/us personally to legally and
            irrevocably bind me/us fully and absolutely. I/We acknowledge that the
            technology used including the internet, as well as the use of
            public/shared facilities, is susceptible to a number of risks, such as
            misuse, hacking, virus, malicious, destructive or corrupting code,
            programme or macro. TMFSL will not be responsible for any loss, delays
            or failures in the processing of instructions on account of such risks
            or for any wrongful usages of my credentials of contacts due to breach
            of security. I/We shall be under the duty of special care to take extra
            and special care to ensure there is no security breach in any manner
            whatsoever of any of the same. Without prejudice to the generality of
            the above, I /We shall ensure that the Registered Contacts are for and
            at all the times in my/our possession alone and are never shared with
            any unauthorized and that the Registered Contact, and the devices on
            which the same can be accessed, are accessible and are accessed only and
            only by me/us and not by any other person. I/We shall ensure that the
            OTPs, passwords, other form factors, if any, are kept and maintained
            confidential and well protected and I/We shall not reveal or share or
            transmit the same to any other person and any unauthorised person or
            number, including to any employees and representatives of TMFSL. Any
            access and use of the Registered Contacts, notwithstanding any security
            breach:

            (i) shall be deemed to be by me/us only, with the intention to bind me
            irrevocably and;

            (ii) shall irrevocably and unconditionally bind me/us and any other
            persons or entities involved and shall always amount to authentic and
            authorised use by, for and on behalf of me/us;

            (iii) shall result in my/our full and absolute liability for such access
            and use;

            (iv) shall not obligate TMFSL to verify whether the use or access is
            authorised or not and TMFSL shall be fully entitled to act upon the same
            treating the same as my/our duly authorised instructions and actions;
            I/We alone shall be liable and responsible for any security breach and
            consequences thereof and shall not hold TMFSL responsible in any manner
            whatsoever. I/We hereby declare that I/We have read & understood the
            terms & conditions given above in the language understood by me/us.
        </p>
        <br>
        <p style="font-weight: bolder;">Aadhar Consent</p>

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            1. I/We voluntarily opt for Aadhaar OVD KYC or offline verification, and
            submit to TMFSL my/our Aadhaar number, Virtual ID, e-Aadhaar, digitally
            signed XML issued by UIDAI, masked Aadhaar, Aadhaar details, demographic
            information, identity information and/or Aadhaar registered mobile
            number (collectively, “Information”).
        </p>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            2. I /We am/ are informed by TMFSL, that: <br /><br>
            i) submission of Aadhaar is not mandatory, and there are alternative
            options for KYC and establishing identity including by way of physical
            KYC with officially valid documents other than Aadhaar. All options were
            given to me/us.<br /><br>
            ii) TMFSL may share my/our Information with CIDR/UIDAI, and CIDR/UIDAI
            will share with TMFSL, verification data, Aadhaar data, demographic
            details, identity information and/or photograph which shall be used for
            the informed purposes mentioned in 3 below.
        </p>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            3. I /We authorise and give my/our consent to TMFSL (and its service
            providers), for following informed purposes:<br /><br>
            (i) to use Information for, and carry out KYC and periodic KYC process
            as per the PML Act, 2002 and rules thereunder and RBI guidelines, or to
            establish my/our identity, carrying out my/our identification or offline
            verification, demographic or other verification/identification as may be
            permitted as per applicable law for all facilities, services and
            relationships of/through TMFSL (including for borrowing relationships),
            existing and future;<br /><br>
            (ii) collecting, sharing, storing, preserving Information, maintaining
            records and using the Information and verification/identification
            records: <br /><br>
            (a) for the informed purposes above, <br /><br>
            (b) as well as for regulatory and legal reporting and filings and/or
            <br /><br>
            (c) where required under applicable law; <br /><br>
            (iii) producing records and logs of the consent, Information or of
            identification, verification etc. for evidentiary purposes including
            before a court of law, any authority or in arbitration.
        </p>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            4. I/We understand that the Aadhaar number and core biometrics will not
            be stored/ shared except as per law and for CIDR submission. I/We will
            not hold TMFSL or its officials responsible in the event this document
            is not found to be in order or in case of any incorrect information
            provided by me/us."
        </p>
    </div>
</body>
</html>
