<!DOCTYPE html>
<html>
<head>
    <title>NACH FORM</title>
</head>

<body style="margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <table width="1200" border="0" align="center" cellpadding="0" cellspacing="2">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="2"><div align="center"><strong>Debit Mandate Form NACH / ECS / DIRECT DEBIT </strong></div></td>
                    </tr>
                    <tr>
                        <td width="9%" valign="top"><img src="logo.png" width="67" height="119"></td>
                        <td width="91%">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td><strong>UMRN</strong></td>
                                                <td>
                                                    <table width="500" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                            <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px" name="textfield2"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td><strong>Date</strong></td>
                                                <td>
                                                    <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#D1</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#D2</td>

                                                            <td style="width:5px;">&nbsp;</td>

                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#M1</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#M2</td>

                                                            <td style="width:5px;">&nbsp;</td>

                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#Y1</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#Y2</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#Y3</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#Y4</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="2" cellpadding="0">

                                            <tr>
                                                <td><strong>Sponsor Bank Code</strong> </td>
                                                <td><input type="text" style=" border:1px solid #ddd; width:425px; height:25px" name="textfield210"></td>
                                                <td><strong>Utitily Code</strong> </td>
                                                <td><input type="text" style=" border:1px solid #ddd; width:331px; height:25px" name="textfield2102"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="2" cellpadding="0">

                                            <tr>
                                                <td><strong>I/We hereby authorize</strong> </td>
                                                <td><input type="text" style=" border:1px solid #ddd; width:425px; height:25px" name="textfield2103" placeholder="TATA MOTORS FINANCE SOLUTIONS LIMITED"></td>
                                                <td><strong>to debit (tick )</strong> </td>
                                                <td><input type="text" style=" border:1px solid #ddd; width:295px; height:25px" name="textfield21022"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                            <tr>
                                                <td><strong>Bank a/c number</strong> </td>
                                                <td>
                                                    <table width="500" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC1</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC2</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC3</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC4</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC5</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC6</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC7</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC8</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC9</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC10</td>

                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC11</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC12</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC13</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC14</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC15</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC16</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC17</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC18</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC19</td>
                                                            <td style=" border:1px solid #ddd; width:25px; height:25px;">#AC20</td>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                        <td><strong>With Bank</strong> </td>
                        <td style="border:1px solid #ddd; width:300px; height:25px">#BANKNAME</td>
                        <td><strong>IFSC</strong></td>
                        <td style="border:1px solid #ddd; width:300px; height:25px">#IFSC1</td>
                        <td><strong>Or MICR</strong> </td>
                        <td>
                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR1</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR2</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR3</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR4</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR5</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR6</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR7</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR8</td>
                                    <td style=" border:1px solid #ddd; width:25px; height:25px">#MICR9</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                        <td><strong>an amount of Rupees</strong> </td>
                        <td style="border:1px solid #ddd; width:525px; height:25px">#AMOUNTINWORDS</td>
                        <td style=" border:1px solid #ddd; width:405px; height:25px">#AMOUNT</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                        <td width="11%"><strong>FREQUENCY</strong></td>
                        <td width="40%">
                            <table width="390" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="checkbox" value="checkbox">
                                            Mthly
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="checkbox2" value="checkbox">
                                            Qtly
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="checkbox3" value="checkbox">
                                            H-Yrly
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="checkbox4" value="checkbox">
                                            Yrly
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="checkbox5" value="checkbox">
                                            As &amp; when presented
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="7%"><strong>DEBIT TYPE</strong> </td>
                        <td width="42%">
                            <table width="344" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="146">
                                        <label>
                                            <input type="checkbox" name="checkbox6" value="checkbox">
                                            Fixed Amount
                                        </label>
                                    </td>
                                    <td width="198">
                                        <label>
                                            <input type="checkbox" name="checkbox22" value="checkbox">
                                            Maximum Amount
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                        <td><strong>Reference 1</strong>  </td>
                        <td style="border:1px solid #ddd; width:450px; height:25px">#REF1</td>
                        <td><strong>Phone No.</strong> </td>
                        <td style="border:1px solid #ddd; width:495px; height:25px">#PHONE</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                        <td><strong>Reference 2</strong> </td>
                        <td style="border:1px solid #ddd; width:425px; height:25px">#REF2</td>
                        <td><strong>Email. ID</strong> </td>
                        <td style="border:1px solid #ddd; width:535px; height:25px">#EMAIL</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="font-size:12px;">I agree for the debit of mandate processing charges by the bank whom I am authorizing to debit my account as per latest schedule of charges of the bank. </td>
        </tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="284">
                            <table width="250" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <fieldset>
                                            <legend><strong>PERIOD</strong></legend>
                                            <table width="65%" border="0" cellspacing="2" cellpadding="0">
                                                <tr>
                                                    <td><strong>From</strong></td>
                                                    <td>
                                                        <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td style="border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFD1</td>
                                                                <td style="border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFD2</td>
                                                                <td style="width:5px;">&nbsp;</td>
                                                                <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFM1</td>
                                                                <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFM2</td>
                                                                <td style="width:5px;">&nbsp;</td>
                                                                <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFY1</td>
                                                                <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFY2</td>
                                                                <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFY3</td>
                                                                <td style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;">#PFY4</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>To</strong></td>
                                                    <td>
                                                        <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield223" placeholder="D"></td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield233" placeholder="D"></td>
                                                                <td style="width:5px;">&nbsp;</td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield243" placeholder="M"></td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield253" placeholder="M"></td>
                                                                <td style="width:5px;">&nbsp;</td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield263" placeholder="Y"></td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield273" placeholder="Y"></td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield283" placeholder="Y"></td>
                                                                <td><input type="text" style=" border:1px solid #ddd; width:25px; height:25px; text-align: center;" name="textfield2932" placeholder="Y"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Or</strong></td>
                                                    <td>
                                                        <table width="200" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        <input type="checkbox" name="checkbox7" value="checkbox">
                                                                        <strong>Until Cancelled</strong>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td width="912">
                            <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><input type="text" placeholder="Signature primary Account Holder" style=" border-bottom:1px solid #000 !important; border:0px; outline:0px; width:240px; height:25px" name="textfield21032222"></td>
                                    <td><input type="text" placeholder="Signature primary Account Holder" style=" border-bottom:1px solid #000 !important; border:0px; outline:0px; width:240px; height:25px" name="textfield210322224"></td>
                                    <td><input type="text" placeholder="Signature primary Account Holder" style=" border-bottom:1px solid #000 !important; border:0px; outline:0px; width:240px; height:25px" name="textfield210322225"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><strong>1. </strong><input type="text" placeholder="Name as in bank records" style=" border-bottom:1px solid #000 !important; border:0px; outline:0px; width:230px; height:25px" name="textfield21032222"></td>
                                    <td>
                                        <strong>2. </strong>
                                        <input type="text" placeholder="Name as in bank records" style=" border-bottom:1px solid #000 !important; border:0px; outline:0px; width:230px; height:25px" name="textfield210322222">
                                    </td>
                                    <td>
                                        <strong>3. </strong>
                                        <input type="text" placeholder="Name as in bank records" style=" border-bottom:1px solid #000 !important; border:0px; outline:0px; width:230px; height:25px" name="textfield210322223">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="font-size:12px;">
                This is to confirm thet the declaration has been careffully read, understood & made by me/us. I am authorizing the User entity/ Corporate to debit my account, based on the instructions as agreed and signed by me.
                <br>
                I have understood that I am authorized to cancel/ amend this mandate by appropriately communicating the cancellation/ amendment request to the User entity/ corporate or the bank where I have authorized the debit.
            </td>
        </tr>
    </table>


</body>
</html>

