<!DOCTYPE html>
<html>
<head>
    <title>PROVISIONAL LETTER</title>
</head>

<body style="margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px;">
    <div style="padding: 80px; text-align: justify">
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">Dear Mr <span>##Name</span></p>

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            We are pleased to inform you that based on your Online Loan Application
            to Tata Motors Finance Limited bearing application number:
            <span>##ApplicationNumber</span> we are offering you a provisional
            e-sanction letter based on the information provided by you, under the
            revolving credit loan program. This is provisional e-sanction for your
            loan:
        </p>

        <ul>
            <li>Loan amount : <span>##LoanAmount</span></li>
            <li>Loan tenure: <span>##LoanTenure</span></li>
            <li>Rate of interest: <span>##RateOfInterest</span></li>
            <li>Processing fee: <span>##ProcessingFee</span></li>
        </ul>

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">**Terms & Conditions(will be as a link)</p>
        <br /><br />

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">Terms and Conditions:</p>
        <ul>
            <li>
                Satisfactory track record in respect of any other finance facility
                availed by you.
            </li>
            <li>
                Positive verifications with respect to your fleet, financials, or any
                other relevant aspect of your proposal, as conducted by TMF
            </li>
            <li>
                The ROI / PF is subject to revision in terms of the final sanction
                letter /loan agreement basis verification of your profile.
            </li>
            <li>
                The final sanction may be issued to you upon your making available all
                necessary information and documents pertaining to the fleet and KYC
                documents in terms of the KYC-AML Policy of the company. The final
                sanction shall be subject to clear due diligence of the documents and
                information provided by you, payment of processing fees and you’re
                meeting the eligibility criteria set by TMF.
            </li>
            <li>
                The Provisional sanction shall stand revoked and cancelled in case any
                statement made / information / details provided by you in the
                application or otherwise is found to be misleading, incorrect, or
                untrue.
            </li>
            <li>
                This Provisional sanction will automatically expire in 30 days from
                the date hereof and does not create any binding obligations on TMF to
                disburse funds till issuance of final sanction letter and providing
                the relevant KYC documents and the execution of appropriate loan and
                security documents, and till such time, the same may be cancelled
                without any prior notice.
            </li>
        </ul>
    </div>
</body>
</html>
