<!DOCTYPE html>
<html>
<head>
    <title>SANCTION LETTER</title>
</head>

<body style="margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <div style="padding: 80px; text-align: justify">
        <h4 style="text-align: center">SANCTION LETTER</h4>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            <span>FAN. No.: ##FanNo </span><span style="float: right">Date: ##Date </span>
        </p>
        <br />

        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> 1)</td>
                <td style="width: 22%;"> <span>##BorrowerName</span></td>
                <td style="width: 76%"> <span>(Name and Address of the Borrower)</span></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> </td>
                <td style="width: 98%; position: absolute" colspan="2"> <span>##BorrowerAddressLine1</span></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> </td>
                <td style="width: 98%; position: absolute" colspan="2"> <span>##BorrowerAddressLine2</span></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> </td>
                <td style="width: 98%; position: absolute" colspan="2"> <span>##BorrowerAddressLine3 (‘Borrower’).</span></td>
            </tr>
        </table>

        <br />

        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> 2)</td>
                <td style="width: 22%;"> <span>##CoBorrowerName</span></td>
                <td style="width: 76%"> <span>(Name and Address of the Co-Borrower)</span></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> </td>
                <td style="width: 98%; position: absolute" colspan="2"> <span>##CoBorrowerAddressLine1</span></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> </td>
                <td style="width: 98%; position: absolute" colspan="2"> <span>##CoBorrowerAddressLine2</span></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="width: 2%;"> </td>
                <td style="width: 98%; position: absolute" colspan="2"> <span>##CoBorrowerAddressLine3 (‘Co-Borrower’).</span></td>
            </tr>
        </table>

        <br>

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            &nbsp;&nbsp;
            <span>
                (The Borrower and the Co-Borrower shall hereinafter collectively be
                referred to as ‘Borrower/Customer’)
            </span>
        </p>

        <br>

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            Dear Sir,<br /><br>

            With reference to your request for grant of credit facilities, we are
            pleased to inform that Tata Motors Finance Solutions Limited
            (“<strong>TMFSL</strong>” or “<strong>We</strong>” or
            “<strong>Lender</strong>”) has sanctioned the following credit Loan (the
            "<strong>Loan</strong>") to you on the indicative terms and conditions
            set out below (“<strong>Sanction Letter</strong>”) and other terms and
            conditions as may be incorporated in the loan agreement(s) and other
            transaction documents to be executed shortly (collectively referred to
            as “<strong>Agreements</strong>”).
        </p>

        <div>
            <table style="width: 100%; border: 1px solid black; border-collapse: collapse;  padding: 10px;">

                <tr style="width: 100%;  border: 1px solid black; border-collapse: collapse; padding: 10px; text-align: center; font-weight: bold;">
                    <td style="padding: 10px; text-align: center; font-weight: bold;">LOAN DETAILS</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 20%;  border: 1px solid black; border-collapse: collapse; padding: 10px;">Type of Loan:</td>
                    <td style="width: 80%;  border: 1px solid black; border-collapse: collapse; padding: 10px;">Fuel Loan</td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Purpose:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Purchase of Fuel and Lubricants</td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Billing Cycle:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        1st calendar day of a month and shall end on the last date of that
                        month.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Billing Date:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        1st calendar day or such other day, as may be decided by the
                        Lender, of the month succeeding the Billing Cycle.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Limit Validity:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">12 months from date of execution of the Loan Agreement</td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Monthly Statement:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        A monthly statement (either in physical or digital/electronic
                        format) published/ issued by the Lender to the Borrower on a
                        Billing Date, which consists of information pertaining to the
                        tranches availed of by the Borrower, payable amount, Billing
                        Cycle, Payment Due Date, the loan amount, principal amount,
                        interest rate, other charges, status of the loan account of the
                        Borrower etc.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Number of Drawdowns:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        Multiple drawdowns (in multiples of thousand) within the total
                        limit
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Payable Amount:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        The total amount (including principal, Interest and other
                        monies/charges) payable by the Borrower to the Lender as reflected
                        in the Monthly Statement on the Payment Due Date.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Payment Due Date:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        The 15th calendar day of the month in which the Monthly Statement
                        was issued by the Lender to the Borrower.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Interest Rate:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">18% Interest would be computed on daily running balance.</td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Accelerated Interest</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        24% (Applicable if the Payable Amount is not paid within the
                        Payment Due Date)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Renewal of Facility:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        This loan shall be valid for a period of 365 (Three Hundred and
                        Sixty Five) days and at the written request of the Borrower, can
                        be renewed for such further period of 12 (twelve) months each. The
                        decision for such renewal shall be at the sole discretion of the
                        Lender.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Sanction letter validity:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">30 (Thirty days)</td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Loan Commercials:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        <table style="width: 80%; border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                            <tr>
                                <td colspan="2" style="width: 30%; border: 1px solid black; border-collapse: collapse;  padding: 10px;">Particulars</td>
                                <td colspan="2" style="width: 70%; border: 1px solid black; border-collapse: collapse;  padding: 10px;">Amount</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Sanction Limit</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##SanctionLimit</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Cut-Off Limit</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##CutOffLimit</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Processing Fee</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##ProcessingFee</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Stamp Duty</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">As per Government rate</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">CLI</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##CLI</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Aetna</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##Aetna</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Legal Expenses</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">As per actuals</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Cheque Bouncing Charges</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##ChequeBouncingCharges</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Retainer Charges</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##RetainerCharges</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Interest Rate</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##InterestRate</td>
                            </tr>
                            <tr>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Accelerated Interest rate</td>
                                <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">##AcceleratedInterestrate</td>
                            </tr>
                        </table>
                        <br>
                        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
                            Please note: Limit utilized on the day of limit creation shall
                            include the CLI, ATENA, Stamp Duty Charges and processing fees
                            charges.
                        </p>

                        <br>
                        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
                            Charges, that are levied on the Loan and as are more
                            particularly specified in the loan agreement, shall be included
                            in the Payable Amount as reflected in the first Monthly
                            Statement and Interest shall be levied on the same.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">General Conditions</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">

                        <table style="width: 100%">
                            <tr>
                                <td colspan="2"
                                    style="width: 3%; position: absolute;">
                                    1.
                                </td>
                                <td style="width: 97%;">
                                    Absence of any material adverse change in the condition of
                                    the Borrower.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2"
                                    style="width: 3%; position: absolute;">
                                    2.
                                </td>
                                <td style="width: 97%;">
                                    Compliance by the Borrower of all laws and regulations
                                    applicable to its operations.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2"
                                    style="width: 3%; position: absolute;">
                                    3.
                                </td>
                                <td style="width: 97%;">
                                    The Borrower fulfilling all its financial obligations under
                                    various taxation and applicable laws prevalent from time to
                                    time.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2"
                                    style="width: 3%; position: absolute;">
                                    4.
                                </td>
                                <td style="width: 97%;">
                                    The Borrower to ensure that the Loan shall not be utilized
                                    for (a) for repayment of existing debts loans, (b) subscription
                                    to or purchase of the capital of any person; (c) subscription to
                                    or purchase of debentures or any other debt instrument issued by
                                    any person;(d)making inter corporate deposits; (e)the purposes
                                    of land acquisition by the Borrower; (f) any speculative
                                    purposes; (g) buy back of the shares of the Borrower; (h)
                                    setting up of new units consuming/ producing any ozone depleting
                                    substances; (i) purchase of gold in any form; (j) investment in
                                    real estate; or (k) for bill discounting
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2"
                                    style="width: 3%; position: absolute;">
                                    5.
                                </td>
                                <td style="width: 97%;">
                                    The representations and warranties are true and correct in
                                    all material respects;
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    6.
                                </td>
                                <td style="width: 97%;">
                                    Three undated SPDC favouring Tata Motors Finance Solutions
                                    Ltd. is provided to TMFSL;
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    7.
                                </td>
                                <td style="width: 97%;">
                                    NACH in favour of Tata Motors Finance Solutions Ltd. to be
                                    given by the Borrower.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    8.
                                </td>
                                <td style="width: 97%;">
                                    Compliance by the Borrower of such other terms and conditions
                                    as may be prescribed by TMFSL from time to time
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Disbursement:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">

                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    1.
                                </td>
                                <td style="width: 97%;">
                                    Customer can make drawdown request through TMFSL platform or
                                    selected OMC (Oil Marketing Companies) platform.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    2.
                                </td>
                                <td style="width: 97%;">
                                    The Customer shall be assigned a central customer account by
                                    the OMC, which shall be tagged to the respective OMC customer ID.
                                    Any successful drawdown request shall lead to the recharge of the
                                    central customer account. All disbursements shall be made to such
                                    central customer account of the Customer as may be assigned by the
                                    respective OMC to the Customer and no disbursements shall be made
                                    into the bank account of the Customer.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    3.
                                </td>
                                <td style="width: 97%;">
                                    Once the drawdown request is raised to the Lender by the
                                    Borrower or the Oil Company on behalf of the Borrower or any other
                                    person who may be so authorised, if the Loan amount so requested
                                    is within the Cut-off Limit (each, a Tranche), the amount of the
                                    Tranche shall be transferred by the Lender into the designated
                                    account of the Oil Company, and the Oil Company, in turn, shall
                                    then load the Tranche amount in to the central customer account of
                                    the Borrower.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    4.
                                </td>
                                <td style="width: 97%;">
                                    Acceptance of drawdown request is subjected to the availability
                                    limit and account status of the Borrower. If drawdown request is
                                    not accepted due to any valid reason, such drawdown request shall
                                    be considered as unsuccessful drawdown request attempt.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">Repayment Details:</td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    1.
                                </td>
                                <td style="width: 97%;">
                                    The Borrower shall be liable to make the payment to the Lender
                                    of the Payable Amount on or before the Payment Due Date.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    2.
                                </td>
                                <td style="width: 97%;">
                                    In the event if the Borrower fails to make the due and complete
                                    repayment to the Lender of the Payable Amount on or before the
                                    Payment Due Date, the Borrower shall be liable to pay Accelerated
                                    Interest on the outstanding balance (as defined in the Agreements)
                                    and such Accelerated Interest will continue to be charged by the
                                    Lender until the entire Payable Amount is repaid by the
                                    Borrower.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    3.
                                </td>
                                <td style="width: 97%;">
                                    Repayment can be made through online transfer or by visiting
                                    any nearest branch for cash collection or Cheque/DD submission.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    4.
                                </td>
                                <td style="width: 97%;">
                                    If the Customer fails to pay Payable Amount in full by the 29th
                                    calendar day of the month in which the Payment Due Date falls, the
                                    account would get frozen and the customer shall not be able to
                                    make any further drawdowns. Upon the customer making the full
                                    payment of the last Payable Amount, the account will revert back
                                    to Active status.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    5.
                                </td>
                                <td style="width: 97%;">
                                    If the Customer’s account remains frozen for more than 90
                                    (ninety) days, then such Customer’s account will be permanently
                                    blocked and loan recall procedures shall be initiated.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    6.
                                </td>
                                <td style="width: 97%;">
                                    Facility termination request by the Customer shall be honored
                                    only if the Customer has cleared all the previous outstanding
                                    balance and doesn’t have any outstanding balance payable to
                                    TMFSL.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">
                                    7.
                                </td>
                                <td style="width: 97%;">
                                    Any amount which is paid by the Borrower in excess of the
                                    Payable Amount for a particular month shall be adjusted against
                                    the Payable Amount for subsequent months,arising out of the
                                    Borrower’s future drawdown requests. The Borrower agrees that such
                                    credit balance in the Borrower’s account shall not attract any
                                    interest.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        Conditions Precedent to the disbursement of the Loan amount:
                    </td>
                    <td colspan="2" style=" border: 1px solid black; border-collapse: collapse;  padding: 10px;">
                        All drawdowns of the Loan shall be subject to the fulfillment, in
                        a manner satisfactory to TMFSL, of the Conditions Precedent set
                        out below:<br />

                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">a.</td>
                                <td style="width: 97%;">Acceptance of this sanction letter.</td>
                            </tr>
                        </table>

                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">b.</td>
                                <td style="width: 97%;">KYC documents of the Borrower.</td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">c.</td>
                                <td style="width: 97%;">Specimen Signature of Borrower</td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">d.</td>
                                <td style="width: 97%;">
                                    To execute the Loan agreement and other ancillary documents in
                                    relation thereto and several other documents including Security
                                    Documents.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">e.</td>
                                <td style="width: 97%;">
                                    The Borrower shall bear and pay all costs, charges and expenses
                                    relating to stamp duty, registration (if required) and all
                                    incidental costs and charges required in relation to the execution
                                    of loan agreement and other related documents.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">f.</td>
                                <td style="width: 97%;">
                                    Compliance by the Borrower of such other conditions precedent
                                    as may be informed by TMFSL prior to the disbursement.
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" style="width: 3%; position: absolute;">g.</td>
                                <td style="width: 97%;">To execute any such document as may be required by TMFSL.</td>
                            </tr>
                        </table>

                        <br />
                        Please note, this sanction is subject to the successful
                        verification of the original documents of the Borrower, residence
                        verification of the Borrower and satisfaction of other documents
                        by TMFSL.
                    </td>
                </tr>
            </table>
        </div>
        <br />

        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;"><strong>Confirmation from the Borrower/Co-Borrower:</strong></p>
        <p style="text-align: justify; margin-top: 0; margin-bottom: 1rem;">
            I/We confirm that: <br /><br />
        </p>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="width: 3%; position: absolute;">a.</td>
                <td style="width: 97%;">
                    I/We hereby provide our explicit consent for according our
                    confirmation to this Sanction Letter, electronically i.e. by way of
                    affixing a One Time Password (‘OTP’) which will be shared with us by
                    TMFSL on our registered mobile number already provided by us to TMFSL.
                    The Sanction Letter shall be deemed to have been executed or signed as
                    if they had been executed or signed physically by each of us.
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="width: 3%; position: absolute;">b.</td>
                <td style="width: 97%;">
                    I/We understand and acknowledge that the online medium or mobile or
                    telephonic mode or internet or use of public/shared facilities are not a
                    necessarily secure means of transmission and are susceptible to a number
                    of risks, such as misuse, hacking, virus, malicious, destructive or
                    corrupting code, program or macro. I/We also acknowledge and accept
                    that, such transmission methods involve the risk of possible
                    unauthorized alteration of data and/or unauthorized usage.
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="width: 3%; position: absolute;">c.</td>
                <td style="width: 97%;">
                    I/We shall not hold TMFSL or its authorised representative or agent
                    responsible for any losses, costs, damages, expenses that may be
                    incurred by the Borrower/us due to any errors, delays or problems in
                    transmission or unauthorized/ illegal interception, alteration,
                    manipulation of data, caused by using the internet or such media or
                    modes.
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="width: 3%; position: absolute;">d.</td>
                <td style="width: 97%;">
                    I/We shall ensure that the OTPs are kept and maintained confidential
                    and well protected and I/We shall not reveal or share or transmit the
                    same to any other person and any unauthorised person or number,
                    including to any employees and representatives of TMFSL.
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="width: 3%; position: absolute;">e.</td>
                <td style="width: 97%;">
                    I/We confirm, agree and acknowledge that, the details pertaining to
                    our bank accounts (i.e. the bank name, bank account no., bank code etc.)
                    provided by us during the call with your customer care executive are
                    true, valid, correct and existing as on the date of this Sanction
                    Letter.
                </td>
            </tr>
        </table>


        <div>
            <table style="width: 100%; border: 1px solid black; border-collapse: collapse; padding: 10px;">
                <tr>
                    <td colspan="2" style="border: 1px solid black; border-collapse: collapse; padding: 10px;">
                        Applied, Accepted, Authenticated, Signed and Delivered by the
                        Borrower by ticking/clicking the “I agree” or similar icon/tab on
                        the online system/link/Website/page of the Lender as well as by
                        entering the one-time password (OTP) on the online
                        system/link/Website/page of the Lender. This authentication or
                        consent stands valid.
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; border: 1px solid black; border-collapse: collapse; padding: 10px;">
                        Borrower (s)
                    </td>
                    <td style="width: 50%; border: 1px solid black; border-collapse: collapse; padding: 10px;">##BorrowerAuthorisedPersonName</td>
                </tr>
                <tr>
                    <td style="width: 50%; border: 1px solid black; border-collapse: collapse; padding: 10px;">
                        Name of Authorised Person
                    </td>
                    <td style="width: 50%; border: 1px solid black; border-collapse: collapse; padding: 10px;"></td>
                </tr>
            </table>
        </div>
        <br />

        <div>
            <table style="width: 100%; border: 1px solid black; border-collapse: collapse; padding: 10px;">
                <tr>
                    <td colspan="2" style="border: 1px solid black; border-collapse: collapse; padding: 10px;">
                        Applied, Accepted, Authenticated, Signed and Delivered by the
                        Co-Borrower by ticking/clicking the “I agree” or similar icon/tab
                        on the online system/link/Website/page of the Lender as well as by
                        entering the one-time password (OTP) on the online
                        system/link/Website/page of the Lender. This authentication or
                        consent stands valid.
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; border: 1px solid black; border-collapse: collapse; padding: 10px;">
                        Co-Borrower (s)<br /><br />
                        Name of Authorised Person
                    </td>
                    <td style="width: 50%; border: 1px solid black; border-collapse: collapse; padding: 10px;">##CoBorrowerAuthorisedPersonName <br /><br /> &nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <br /><br /><br />
</body>
</html>
